@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 5%;

    width: 50%;
    height: auto;

    border-radius: 5px;
    box-shadow: 0px 0px 10px .2px rgba(0, 0, 0, 0.1);

    background-color: white;
}

.password-title {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}

.show-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.show-password section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}

.show-password section span {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    color: white;
    background-color: rgb(49, 236, 149);

    width: 30px;
    height: 30px;

    font-size: 18px;
    margin-right: 2%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

.show-password section span:hover {
    background-color: rgb(35, 214, 131);
}

.show-password section span:active {
    background-color: rgb(22, 190, 112);
}

.div-copied {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
    width: 70px;
    height: 30px;
    margin-top: 90px;

    border-radius: 5px;
    color: white;
    background-color: rgb(49, 236, 149);

    transition: all 300ms;
}

.div-copied::after {
    content: '';
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;

    transform: rotate(45deg);
    background-color: rgb(49, 236, 149);
}

.numbers-password {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 50px;
    width: 90%;
    font-size: 28px;
    font-weight: bold;
    border: none;

    border-radius: 5px;
    color: rgb(49, 236, 149);
    background-color: rgb(243, 243, 243);
}

.password-char {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}

.password-char section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 90%;
}

.password-char section label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 30px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(49, 236, 149);
    transition: all 300ms;
}

.active {
    background-color: rgb(15, 160, 92) !important;
}

.password-char section label:hover {
    background-color: rgb(35, 214, 131);
}

.password-char section label input {
    margin-left: 5%;
    margin-right: 1%;
    cursor: pointer;
    display: none;
}

.password-char section label p {
    margin-left: 5px;
    font-weight: bold;
    color: white;
}

.password-options {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 3%;
}

.password-options label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
    cursor: pointer;
    height: 30px;
    width: auto;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: rgb(49, 236, 149);
}

.password-options label input {
    margin-right: 2%;
    cursor: pointer;
    display: none;
}

.password-options label p {
    color: white;
    font-weight: bold;
}

.div-button {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5%;
}

.div-button button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 2%;

    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(49, 236, 149);
    box-shadow: 0px 0px 10px .2px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
}

.div-button button:hover {
    background-color: rgb(35, 214, 131);
}

.div-button button:active {
    background-color: rgb(22, 190, 112);
}